@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SURFmarket 3.0 Mockup Integrator</h1>
    <p>Ga naar contracten voor een overzicht.</p>
    <p><a href="~/ContractView/Index" class="btn btn-primary btn-lg">Naar contracten &raquo;</a></p>
    <p> Ga naar swagger voor api calls.</p></p>
    <p><a href="~/Home/Swagger" class="btn btn-primary btn-lg">Naar contracten &raquo;</a></p>
</div>
